# Python
backend/venv/
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/instance/
backend/*.db

# Env
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
.vscode/